input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  margin-top: 3px;
  max-height: 143px;
  padding-left: 0;
}

.suggestions span{
  margin-right: 1%;
  text-decoration: underline;
}

.suggestions span:hover{
  color: violet;
  text-decoration: none;
}